<title>
	Inicio 
</title>

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href=""  type="image/png" rel="icon"/>

<nav class="navbar navbar-expand-lg bg-primary  bg-gradiant">
  <div class="container-fluid">
	<style>
	/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0756cb;
}
	</style>
	 <a class="navbar-brand" href="#">|PhoneNet|</a>
 	</button> 
		<div class="navbar-collapse"> 
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        			<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">|{{ home }}|</a>
				</li>

				<li class="nav-item"> 
					<a class="nav-link" href="/server">|{{ server }}|</a>
        			</li>
 
				<li class="nav-item">
					<a class="nav-link" href="/info">|{{ info }}|</a> 
				</li>
 			</ul>
 		</div>
 </div>
</nav>
<div class="container">
	<div class="text-center mt-5">
		<h1>
			Phone Network
		</h1>
<br>
		<h4 class="mb-0">
			Our goal is to make a minecraft network with a Phone!
		</h4>
<br>
    <social>
      Check Out our Social Media!
    </social>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	<blackquote class="blockquote">
		<footer class="blockquote-footer">Made with ♥ by {{ footername }}</footer>
	</blackquote>
	</div>
</div>
